<%= form_for(@category) do |f| %>
  <div class="postform-control">
    <%= f.text_area :name, placeholder: "text" %>
  </div>
  <div class="postbtn-control"><%= f.submit "追加",class: "btn btn-primary"%></div>
<% end %>