<li id="post-<%= post.id %>">
  <span ><%= post.title %></span>
  <span ><%= link_to post.url, post.url %></span>
      <%= link_to "削除", post, method: :delete,
                                       data: { confirm: "You sure?" } %>
</li>