// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* login form */

.login-panel{
    width:456px;
    background:#ebecf0;
    border-radius: 3px;
    margin:0 auto;

}
.login-form-inner{
    padding:16px 32px;
}
